h1 {
  background-color: rgb(157, 157, 243);
}
.row {
  display: flex;
  align-items: center;
  border: 1px solid #5f5050;
  padding: 10px;
  margin: 10px;
}

.row img {
  max-width: 100px;
  margin-right: 10px;
}

.data {
  flex: 1;
}
body {
  background-color: rgb(210, 240, 240);
}
footer {
  background-color: rgb(147, 127, 127);
}
